@use '../variables' as *;
@use '../media' as *;

.cart {
  // display: none;
  
  &__container {
    padding: 24px 16px;
    max-width: 310px;
    min-height: 778px;
    display: flex;
    flex-direction: column;
    border-radius: 32px;
    background-color: $white;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
  }

  &__title {
    font-weight: 400;
    font-size: 28px;
  }

  &__close {
    outline: 1px solid transparent;
    outline-offset: 2px;
    border-radius: 6px;
    color: $orange;

    &:hover, &:focus-visible {
      outline-color: $orange;
    }
  }

  &__date-delivery {
    margin-bottom: 32px;
    padding-left: 20px;
    background: url('/img/delivery.svg') no-repeat left bottom;
    background-size: 16px;
    font-size: 14px;

    @include mobile {
      font-size: 12px;
    }
  }

  &__item {
    display: grid;
    gap: 8px 12px;
    grid-template-columns: 54px 1fr min-content;
    grid-template-areas: 
    'image title title'
    'image counter price'
    ;

    &:not(:last-child) {
      margin-bottom: 16px;
      padding-bottom: 16px;
      border-bottom: 1px solid rgba($dark, .04);
    }
  }

  &__img {
    grid-area: image;
    border-radius: 12px;
    width: 100%;
    height: 54px;
    object-fit: cover;
  }

  &__item-title {
    grid-area: title;
    font-weight: 400;
    font-size: 14px;
  }

  &__counter {
    grid-area: counter;
    display: flex;
    align-items: center;
    gap: 12px;
  }

  &__counter-btn {
    flex-shrink: 0;
    width: 29px;
    height: 29px;
    background-color: $bg;
    border-radius: 6px;
  }

  &__counter-input {
    max-width: 20px;
    height: 100%;
    font-size: 14px;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 6px;
    outline: none;

    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      -moz-appearance: textfield;
      appearance: none;
      margin: 0;
      padding: 0;
    }

    &:hover, &:focus-visible {
      border-color: $light-orange;
    }
  }

  &__price {
    grid-area: price;
    align-self: center;
  }

  &__footer {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__order-btn {
    padding: 7px 16px;
    background-color: #f0a35b;
    border-radius: 32px;
    border: 1px solid transparent;
    color: #fff;
    outline: none;
  }
}
