@use '../variables' as *;

.filter {

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
  }

  &__group {
    display: flex;
    align-items: center;
    gap: 12px;

    &_choices {
      gap: 64px;
    }
  }

  &__radio {
    position: absolute;
    appearance: none;
  }
  
  &__label {
    display: inline-block;
    padding: 16px 16px 16px 60px;
    border-radius: 300px;
    background-color: $white;
    background-position: left 16px center;
    background-repeat: no-repeat;
    background-size: 40px;
    cursor: pointer;
    outline: 1px solid transparent;
    outline-offset: 2px;

    &_flowers {
      background-image: url('/img/flowers.png');
    }
    &_toys {
      background-image: url('/img/toys.png');
    }
    &_postcard {
      background-image: url('/img/postcard.png');
    }

    &:hover {
      background-color: $footer;
    }
  }

  &__radio:focus-visible + &__label {
    outline-color: $orange;
  }
  
  &__radio:checked + &__label {
    background-color: $light-orange;
    color: $white;
  }


  &__choices {
  }

  &__select {
    display: flex;
    align-items: center;
    gap: 8px;

    &::after {
      content: '';
      display: block;
      width: 8px;
      height: 8px;
      background: url('/img/arrow.svg') no-repeat center/contain;
      transition: .36s;
    }
  }

  &__input-price {
  }

  &__type-list {
  }

  &__type-item {
  }

  &__type-btn {
  }
}